.vestine{
    @extend %blok-fix-osnova;
    background-image: url(../slike/background-vestine.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    h2{
        color: $text-color;
        font-family: $font;
        text-align: center;
        font-size: 2vw;
        @include sirinaCentar(57%);
        text-shadow: 0px 0px 15px #16191F;
        padding-top: 20px;
    }
    .container-vestine{
        width: 100%;
        height: 75%;
        display: flex;
        align-items: center;
        justify-content: center;
        .skills{
            width: 90%;
            h3{
                font-weight: 400;
                letter-spacing: 1px;
                margin-top: 50px;
                margin-bottom: 5px;
                color: $text-color;
                font-size: 30px;
            }
            .progress-bar{
                background-color: #959595;
                width: 100%;
                height: 30px;
                border-radius: 10px;
                span{
                    height: 55px;
                    width: 55px;
                    border-radius: 50%;
                    background: #404D60;
                    float: right;
                    margin-top: -13px;
                    margin-right: -20px;
                    color: white;
                    @include sirinaCentar(57%);
                }
                .html{
                    background: rgb(2,0,36);
                    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(147,47,68,1) 35%, rgba(252,55,96,1) 100%);/* https://cssgradient.io/ */
                    width: 86%;
                    span{
                        border: 2px solid #FC3765;
                        box-shadow: 0px 0px 15px 3px #FC3765;
                    }
                }
                .css3{
                    background: rgb(2,0,36);
                    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(152,151,61,1) 35%, rgba(209,208,53,1) 100%);
                    width: 80%;
                    span{
                        border: 2px solid #D1D035;
                        box-shadow: 0px 0px 15px 3px #D1D035;
                    }
                }
                .boostrap{
                    background: rgb(2,0,36);
                    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(16,16,159,1) 35%, rgba(0,212,255,1) 100%);
                    width: 67%;
                    span{
                        border: 2px solid #00ACDC;
                        box-shadow: 0px 0px 15px 3px #00ACDC;
                    }
                }
                .javascript{
                    background: rgb(2,0,36);
                    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(144,130,33,1) 35%, rgba(239,215,50,1) 100%);
                    width: 45%;
                    span{
                        border: 2px solid #EFD732;
                        box-shadow: 0px 0px 15px 3px #EFD732;
                    }
                }
                .sass{
                    background: rgb(2,0,36);
                    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(102,35,113,1) 39%, rgba(142,52,157,1) 100%);
                    width: 85%;
                    span{
                        border: 2px solid #8E349D;
                        box-shadow: 0px 0px 15px 3px #8E349D;
                    }
                }
                .sass,.javascript,.boostrap,.css3,.html{
                    box-shadow: 0px 0px 15px 2px white;
                }
            }
            .progress-bar div{
                height: 30px;
                border-radius: 10px;
            }
        }
    }
}